[DEFAULT]
decrypt_bsn_key_our_priv = secrets/bsn.key
decrypt_bsn_key_vws_pub = secrets/bsn_pub.key
decrypt_payload_key = secrets/db.key
host = 127.0.0.1
port = 5000

[database_read]
host = localhost
port = 5432
user = reader
password = reader
database = vcbe_db

[database_write]
host = localhost
port = 5432
user = writer
password = writer
database = vcbe_db

[logging]
log_level = ERROR
log_format = [%%(levelname)s] [%%(asctime)-15s] %%(message)s
log_location = /dev/log
