[Unit]
Description=flask
After=syslog.target

[Service]
Type=simple
User=inge5
Group=inge5
WorkingDirectory=/usr/local/inge5/current


ExecStart=/usr/local/inge5/current/run_inge5.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=inge5-flask

[Install]
WantedBy=multi-user.target
